
div .signupbox{
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 227, 227);
    min-width: 200px;
    min-height: 50vh;
    border-style: groove;
    margin-top: 80px; 
    margin-bottom: 30px; 
}

.content {
    display: flex;
    justify-content: center;
}
.signupform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 175px;
}