.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}


header {
  background-color: #fa5d54;
  min-height: 7vh;
  display: flex;
  align-items: right;
  overflow: hidden;
  position: fixed;
  width: 100%
}

footer {
  background-color: #662482;
  color: #FFFFFF;
  overflow: hidden;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.signOut {
  float: right;
}

.warning {
  color: red;
}

.loggedIn {
  margin: 20px; 
}